@import "util/column-grid.css";

:root {
    --main-color: rgb(5, 205, 255);
    --light-grey: rgb(236, 236, 236);
    --dark-grey: rgb(117, 117, 117)
}
body {
    font-family: "Helvetica", sans-serif !important;
    background-color:rgb(255, 254, 245);
    margin:0;
    padding:0;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width:100%;
}
.chart-container-container {
    position:relative;
    width:20%;
    margin:1em
}
.chart-container{
    overflow:hidden;
    /*
    width: 500px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;*/
    /* box-sizing:border-box; */
    border:solid;
    border-color:rgb(61,61,61);
    border-width:1px;
    border-radius: 1em;

}
.chartTable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position:relative;
}

.chart-extlabel {
    width:100%;
    color:rgb(1,61,61);
    margin-bottom:10%;
    padding-bottom:1%;
    padding-top:1%;
    text-align:right;
    border-bottom:solid;
    border-bottom-width:1px
}
.chart-extlabel > h2 {
    font-size:1vw;
    vertical-align:middle;
    padding-right:10%;
    padding-top:2%;
    padding-bottom:1%;
    margin:0;
}

.chartTable-sidebar {
    width:90%;
    padding-top:5%
}

.chartTable-sidebar > table {   
    color:var(--dark-grey);
    border:1px solid;
    border-color:var(--dark-grey);
    width:100%;
    border-collapse: collapse;
    margin-top:5%;
}
.chartTable-sidebar > table > tr, td {
    text-align:left;
    vertical-align:middle
}

#logContainer {
   overflow:hidden;
   padding:4%
}

#logContainer > pre {    
    white-space:pre-wrap;
    font-size:.8vw;
}

#refreshLog {
    font-size:.7vw;
    color:var(--dark-grey);
    padding-top:4%;

}
#log {    
    font-size:.8vw;
    color:black;
}

#clock{
    float:right;
    padding-right:4%;
}

.chartTable-sidebar > #logContainer {
    padding-left:4%;
    border:solid;
    border-left:none;
    border-top-right-radius:1em;
    border-bottom-right-radius:1em;
    border-color:var(--dark-grey);
    border-width: 1px;
}


#terminal  {
    height:100%;
    background-color:transparent;
}

#terminal * {
    background-color:transparent;
    color:black
}

#input-menu-label {
    padding-top:5%;
    padding-bottom:1%;
    display:inline
}

input#symbol{
    border:solid;
    border-radius:0.2em;
    border-width: 1px;
    position:relative;
    display:none;
    width:50%;
    font-size:110%;
    font-family:Helvetica, sans-serif;
    
    font-weight:lighter;
}

.input-menu-item {
    font-size:0.8em
}
.input-menu-subheading {
    font-family:'Consolas', monospace;
    color:var(--dark-grey);
    font-size:0.7em
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
height: 100px;
}

div#titlebar {
    position:relative;
    background-color:rgb(255, 253, 247);
    height:25vh
}
div#main-title {
     
}
div#main-title > * {
    text-align:right;
}
div#main-title > h1 {
   
    font-weight:lighter;
    color:rgb(61, 61, 61);
    font-size:600%;
    margin:0;
    padding-right:3%

}
div#main-title > p {
    padding-right:5%;
    color:rgb(92, 92, 92);
    margin:0;
}

#dummy_chart {
    
    filter: blur(0.2em);
}

#dummy_chart_overlay {
    position:absolute;
    z-index:2;
    border-radius: 1.1em;
    width:100%;
    height:100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

#dummy_chart_overlay p {
    display:block !important;
    color:rgb(61, 61, 61);
    position: absolute;
    font-size:600%;
}
