@import '@/scss/custom.scss';

@keyframes negative-pulse-animation {
    0% {
        box-shadow: 0 0 0 0em $light-color;
    }
    100% {
        box-shadow: 0 0 0 0.2em $danger-color;
    }
}

@keyframes positive-pulse-animation {
    0% {
        box-shadow: 0 0 0 0em $light-color;
    }
    100% {
        box-shadow: 0 0 0 0.2em $positive-color;
    }
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0em $light-color;
    }
    100% {
        box-shadow: 0 0 0 0.2em $dark-color;
    }
}

/* shake: credit to https://www.theappguruz.com/tag-tools/web/CSSAnimations/ */
@-webkit-keyframes shake {
    0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-0.1em, 0, 0);
    transform: translate3d(-0.1em, 0, 0);
    }
    20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(0.1em, 0, 0);
    transform: translate3d(0.1em, 0, 0);
    }
    }
    @keyframes shake {
    0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-0.1em, 0, 0);
    transform: translate3d(-0.1em, 0, 0);
    }
    20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(0.1em, 0, 0);
    transform: translate3d(0.1em, 0, 0);
    }
    } 
