@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,100;0,200;0,300;1,300&display=swap');

$primary-color: #370aff;
$secondary-color:#EF3E36;
$danger-color:#ff2600;
$light-color: #f3f3f3;
$dark-color:#353232;
$grey-color:#afafaf;
$light-grey-color:rgb(238, 238, 238);
$info-color:#3F88C5;
$positive-color:#a8ff6e;
$insane-color:#2E282A;

$theme-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "danger": $danger-color,
  "light": $light-color,
  "dark": $dark-color,
  "grey": $grey-color,
  "light-grey": $light-grey-color,
  "info": $info-color,
  "positive": $positive-color,
  "insane": $insane-color
);

:export {
    primaryColor: $primary-color;
    secondaryColor: $secondary-color;
    dangerColor: $danger-color;
    lightColor: $light-color;
    darkColor: $dark-color;
    greyColor: $grey-color;
    infoColor: $info-color;
    positiveColor: $positive-color;
    insaneColor: $insane-color;
}

@import "../../node_modules/bootstrap/scss/bootstrap";